<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <!-- Custom CSS -->
    <link href="/css/puka.css" rel="stylesheet">
    
    <link href="/css/lightbox.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <link rel="apple-touch-icon" href="/img/favicon.png">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/"><img alt="puka" src="/img/logo_small.png" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/index.html">Accueil</a>
                    </li>
                    <li>
                        <a href="/besoins.html">Vos besoins</a>
                    </li>
                    <li>
                        <a href="/solution.html">Notre solution</a>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exemples <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Association</a></li>
                        <li><a href="/exemples/club-sportif.html">Club sportif</a></li>
                        <li><a href="/exemples/comite-entreprise.html">Comité d'entreprise</a></li>
                        <li><a href="/exemples/ecole.html">École</a></li>
                        <li><a href="/exemples/organisme-formation.html">Organisme de formation</a></li>
                        <li><a href="/exemples/syndic.html">Syndic de copropriété</a></li>
                    </ul>
                    </li>
                    <li>
                        <a href="/offres.html">Nos offres</a>
                    </li>
                    <li>
                        <a id="puka-link" href="http://app.puka.fr">Accéder à l'application</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="intro-header">
        <div class="container">
            <div class="header-logo">
                <h1><img src="/img/logo_medium.png" alt="puka" class="logo-header-img img-responsive" /></h1>
            </div>
        </div>
    </div>

   {{ content }}


    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Disponible février 2016</h2>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-muted small">puka - tous droits réservés</p>
                <p class="text-muted small">
                    <a href="/">Mentions légales</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p class="text-muted small">
                    Photo <a href="https://www.flickr.com/photos/dalbera/7717595950/in/photolist-cKYGp9-79ivH4-soxxL-dAoqfY-faUJ4H-owRWC8-nfm3Ko-nqnUFs-n5T3m-nrK5Pq-eGLeJd-64fVsH-4DiK5n-t524aZ-hCEC7-64jSTw-4A8nVd-64ko5U-oNRa7H-nJ3zGN-fyGRZL-n5ScY-orCURo-nJbkf9-nJkDgN-fagTc8-f7qQaJ-f3LCa4-qJbn39-4E2XjE-hAy8nx-oVrkKu-uZ6Hrj-foAXAr-nvxFuT-nwxVKn-4qFesX-ftmk7m-ocv4k7-otXZnQ-64gcBg-egNfT9-mc7sNB-oCZ648-4Do3Yw-f476fb-8iuh3k-cc142J-cgGgSm-oNQKsq">
                Le Grand Elephant</a> par Jean-Pierre Dalbéra utilisée et modifiée sous licence <a href="https://creativecommons.org/licenses/by/2.0/">CC-BY</a>
                </p>
            </div>
        </div>
    </div>
</footer>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    
    <script src="/js/lightbox.min.js"></script>
    
    <!-- Piwik -->
    <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//analytics.puka.fr/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <noscript><p><img src="//analytics.puka.fr/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

</body>

</html>
